<div class="comment-container">
    <div class="container">
        <div class="comment container medium">
            <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="750" data-numposts="2"></div>
        </div>
    </div>
</div>