{{#get "posts" filter="featured:true" limit="4" include="tags" as | featured|}}
    {{#if featured}}
        <div class="row featured-posts">
            {{#foreach featured visibility="all"}}
                {{#if @first}}
                    {{> "post-card"}}
                {{else}}
                    {{> "post-card" noContent=true}}
                {{/if}}
            {{/foreach}}
        </div>
    {{/if}}
{{/get}}