{{#get "posts" filter="featured:true" limit="4" include="tags" as | featured|}}
    {{#if featured}}
        <div class="row featured-posts">
            {{#foreach featured visibility="all"}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    {{/if}}
{{/get}}