{{#get "posts" filter="featured:true" limit="2" include="tags" as | featured|}}
    {{#if featured}}
        <div class="container">
            <div class="row featured-posts">
                {{#foreach featured visibility="all"}}
                    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} {{#if @first}} col-xl-8 {{/if}} {{#unless @first}} col-xl-4 {{/unless}}">
                        {{> post-media static_image=true ratio="horizontal" small_image=true show_tag=true}}
                        {{> post-header hide_meta=true}}
                        {{#if excerpt}}
                            <div class="post-excerpt">
                                {{excerpt words="44"}}
                            </div>
                        {{/if}}
                    </article>
                {{/foreach}}
            </div>
        </div>
    {{/if}}
{{/get}}