{{!< default}}

<div class="container">
    <div class="row">
        <div class="content-column col-xl-9 col-lg-8 col-12">
            <div class="content-area">
                <main class="site-main">
                    <div class="post-feed container">
                        {{#is "home"}}
                            <div class="row">
                                {{#foreach posts visibility="all" from=0 to=4}}
                                    {{#if @first}}
                                        {{> "post-card"}}
                                    {{else}}
                                        {{> "post-card" noContent=true}}
                                    {{/if}}
                                {{/foreach}}
                            </div>
                            {{#foreach posts visibility="all" from=5}}
                                {{> "loop"}}
                            {{/foreach}}
                        {{/is}}
                        {{#is "paged"}}
                            {{#foreach posts visibility="all"}}
                                {{> "loop"}}
                            {{/foreach}}
                        {{/is}}
                    </div>
                    {{pagination}}
                </main>
            </div>
        </div>
        <div class="sidebar-column col-xl-3 col-lg-4 col-12">
            {{> widgets/widgets}}
        </div>
    </div>
</div>


