{{!< default}}

<div class="container">
    {{#is "home"}}
        {{> featured}}
    {{/is}}
    <div class="row">
        <div class="content-column col-xl-9 col-lg-8 col-12">
            <div class="content-area">

                <main class="site-main">
                    <div class="post-feed container">
                        {{#foreach posts visibility="all"}}
                            {{> "loop"}}
                        {{/foreach}}
                    </div>
                    {{pagination}}
                </main>
            </div>
        </div>
        <div class="sidebar-column col-xl-3 col-lg-4 hidden-xs hidden-sm hidden-md">
            {{> widgets/widgets}}
        </div>
    </div>
</div>


