<div class="widget widget-facebook widget-no-title u-shadow">
    <p class="text-center">Người lạ ơi hãy cho mình 1 👍! </p>
    <div class="fb-page" data-href="https://www.facebook.com/blogkikiguru/"
         data-width="" data-height="150"
         data-small-header="false" data-adapt-container-width="true"
         data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/blogkikiguru/"
                    class="fb-xfbml-parse-ignore">
            <a aria-label="KiKi Guru Facebook Page" title="KiKi Guru Facebook Page" href="https://www.facebook.com/blogkikiguru/"><div class="loading"><i class="icon icon-facebook"></i></div></a></blockquote>
    </div>
</div>