<div class="widget widget-friends u-shadow">
    <h2 class="widget-title">Dự án theo đuổi</h2>
    <div class="friend-list">
        <div class="friend">
            <a class="friend-link" href="https://www.datnentanan.com" rel="dofollow noopener" target="_blank">
                <span class="friend-name">Đất Nền Tân An</span> - <span class="friend-desc">Thông tin bất động sản Tân An, Long An</span>
            </a>
        </div>
    </div>
</div>