<div class="widget widget-friends u-shadow">
    <h2 class="widget-title">Đồng minh</h2>
    <div class="friend-list">
        <div class="friend">
            <a class="friend-link" href="https://codecungtrung.com">
                <span class="friend-name">Code cùng Trung</span> - <span class="friend-desc">Chia sẻ để tiến bước</span>
            </a>
        </div>
        <div class="friend">
            <a class="friend-link" href="http://www.giaosucan.com">
                <span class="friend-name">GIAOSUCAN'S BLOG</span> - <span class="friend-desc">chia sẻ kiến thức kĩ thuật theo cách bá đạo</span>
            </a>
        </div>
    </div>
</div>