<div class="widget widget-friends u-shadow">
    <h2 class="widget-title">Đồng minh</h2>
    <div class="friend-list">
        <div class="friend">
            <a class="friend-link" href="https://www.dammio.com" rel="dofollow noopener" target="_blank">
                <span class="friend-name">Dammio</span> - <span class="friend-desc">Kiến thức công nghệ</span>
            </a>
        </div>
        <div class="friend">
            <a class="friend-link" href="https://codecungtrung.com" rel="dofollow noopener" target="_blank">
                <span class="friend-name">Code cùng Trung</span> - <span class="friend-desc">Chia sẻ để tiến bước</span>
            </a>
        </div>
        <div class="friend">
            <a class="friend-link" href="https://kynangso.net" rel="dofollow noopener" target="_blank">
                <span class="friend-name">Kỹ Năng Số</span> - <span class="friend-desc">Kiến Thức Công Nghệ</span>
            </a>
        </div>
    </div>
</div>