.gh-error {
    text-align: center;
}

.gh-error-code {
    margin-bottom: -5px;
    color: var(--dark-gray-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.gh-error-posts {
    margin-top: 60px;
}

.gh-error-link {
    color: var(--primary-color) !important;
    font-weight: 700;
}

.gh-error-content {
    text-align: center;
}
