.featured-posts {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.featured-posts .post-header,
.featured-posts .post-title {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .featured-posts {
        margin: 0;
    }
}
